/* light mode */
:root {
  --color-primary: #000;
  --background-primary: #fff;
}

/* dark mode */
:root.dark {
  --color-primary: #fff;
  --background-primary: #0d1117;
}

body {
  background: var(--background-primary);
  color: var(--color-primary);
}

